<h1>Bai 3: Bai tap - color picker</h1>
<app-color-picker></app-color-picker>
<br>
<h1>Bai 4: TH - hacker news</h1>
<app-navbar></app-navbar>
<app-article></app-article>
<app-like></app-like>
<app-footer></app-footer>
<br>
<h1>Bai 5: TH - name card</h1>
<app-name-card cardName="Professional Dev" email="prodev@codegym.vn" phone="0123456789"></app-name-card>
<br>
<h1>Bai 5: TH - progress bar</h1>
<app-progress-bar [progress]="0"></app-progress-bar>
<br>
<h1>Bai 5: BT - countdown</h1>
<app-countdown-timer start="11"></app-countdown-timer>

